<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>CloudVault</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        ☁️ CloudVault
    </div>

    <div class="nav-links">

        <a href="/">
            Home
        </a>

        <a href="/login">
            Login
        </a>

        <a href="/register">
            Register
        </a>

    </div>

</nav>


<section class="hero">

    <div class="hero-content">

        <h1>
            Your Files.
            <br>
            Your Cloud.
            <br>
            Your Vault.
        </h1>

        <p>
            CloudVault is a secure personal cloud storage
            platform for uploading, organizing and managing
            your files.
        </p>

        <div class="hero-buttons">

            <a href="/register">
                <button>
                    Get Started
                </button>
            </a>

            <a href="/login">
                <button class="secondary-button">
                    Login
                </button>
            </a>

        </div>

    </div>

</section>


<section class="features">

    <h2>
        CloudVault Features
    </h2>

    <div class="feature-grid">

        <div class="feature-card">

            <div class="card-icon">
                📁
            </div>

            <h3>
                File Management
            </h3>

            <p>
                Upload, download, rename and organize
                your files.
            </p>

        </div>


        <div class="feature-card">

            <div class="card-icon">
                ☁️
            </div>

            <h3>
                Storage
            </h3>

            <p>
                Monitor your storage usage with a
                100 MB storage limit.
            </p>

        </div>


        <div class="feature-card">

            <div class="card-icon">
                🔐
            </div>

            <h3>
                Secure Login
            </h3>

            <p>
                Password hashing and OTP-based
                password recovery.
            </p>

        </div>


        <div class="feature-card">

            <div class="card-icon">
                🐳
            </div>

            <h3>
                DevOps
            </h3>

            <p>
                Docker and Jenkins are used for
                containerization and CI/CD.
            </p>

        </div>

    </div>

</section>


<footer>

</footer>

</body>

</html>