<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - CloudVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <h1>Forgot Password</h1>

        <p>Enter your registered email address.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Email Address"
                required
            >

            <button type="submit" class="auth-button">
                Send OTP
            </button>

        </form>

        <p>
            <a href="{{ url_for('auth.login') }}">
                Back to Login
            </a>
        </p>

    </div>

</div>

</body>
</html>