<!DOCTYPE html>
<html>
<head>
    <title>Reset Password - CloudVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <h1>Create New Password</h1>

        <p>Enter your new CloudVault password.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <input
                type="password"
                name="password"
                placeholder="New Password"
                minlength="8"
                required
            >

            <input
                type="password"
                name="confirm_password"
                placeholder="Confirm New Password"
                minlength="8"
                required
            >

            <button type="submit" class="auth-button">
                Reset Password
            </button>

        </form>

    </div>

</div>

</body>
</html>